.app__works {
    flex: 1;
    width: 100%;
    flex-direction: column;
  }

.app__practice{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    button{
        height: 40px;
        width: 100px;

        margin: 1rem 2rem ;

        border-radius: 10%;

        cursor: pointer;
    }

    span{
        color: blue;
    }
}
.app__skills{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;


}
.app__skill{
    height: 200px;
    width: 200px;

    border-radius: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 1rem;

    background:rgb(58, 139, 150);

    position: relative;

    cursor: pointer;

    img{
        height: 80%;
        width: 80%;

        object-fit: cover;
          
        
    }
}